*, *::before, *::after{
    box-sizing: border-box;
    font-family:  Tahoma, Arial, sans-serif;
    margin:0;
    padding: 0;
}


body{
    background-image: radial-gradient(circle, #c9c7bb, #aa9e71,#8f6206);
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;

    min-height: 100vh;
    margin:0;
    font-size: 3vmin;
}

#game-heading{
    margin: 0 auto 2rem;
    color: #db9901;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#game-heading h1{
    background-color: #464035e6;
    padding: 1vmin 3vmin;
    border-radius: 8px;
}

#game-heading > img{
    display: inline-block;
    max-width: 150px;

}

#game-board{
    box-sizing: border-box;
    display: grid;
    background-color:  #6d3803fb;
    grid-template-columns: repeat(var(--grid-size),var(--cell-size));
    grid-template-rows: repeat(var(--grid-size),var(--cell-size));
    gap:var(--cell-gap);
    border-radius: 1vmin;
    padding: var(--cell-gap);
    font-size: 6vmin;
    position: relative;
}

.cell{
    background-color: #d1c8a87d;
    border-radius:1vmin;
}

.tile{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--cell-size);
    height: var(--cell-size);
    border-radius: 1vmin;
    top: calc(var(--y) * (var(--cell-size)  + var(--cell-gap)) + var(--cell-gap));
    left: calc(var(--x) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap) );
    font-weight: bold;
    background-color: hsl(var(--bg-hue), var(--bg-sat), var(--bg-light));
    animation: show 250ms ease-in-out;
    transition: 100ms ease-in-out;
}

@keyframes show {
    0%{
        opacity: .5;
        transform:scale(0);
    }
    
}



/* 
Colors to fill
    #**** 2048: FFE300 hsl(53, 100%, 50%)
    #**** 1024: ffc400
    # 512: f9e295
    # 256: fec816
    # 128: f9df1d
    # 64: fccc2d
    # 32: fde73c
    # 16: ffc04a
    # 8: fdea5e
    $ 4: fcde79
    # 2: #ffefbb
    empty: fffae5
*/

