*, *::before, *::after{
    box-sizing: border-box;
    font-family:  Tahoma, Arial, sans-serif;
    margin:0;
    padding: 0;
}


body{
    background-image: radial-gradient(circle, #c9c7bb, #aa9e71,#8f6206);
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;

    min-height: 100vh;
    margin:0;
    font-size: 3vmin;
}

#game-heading{
    margin: 3rem auto 1rem;
    color: #FFC700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

#game-heading > div{
    background-color: #46403593;
    padding: 1vmin 3vmin;
    border-radius: 8px;
    text-align: center;
}


#reset-button{
    position: absolute;
    border-radius: 20px;
    border: 2px solid red;
    top: -1rem;
    right: 0;
    background-color: rgba(255, 238, 238, 0.963);
    color: red;
    padding: 2vmin;
    font-weight: bolder;
    font-size:medium;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

#reset-button:hover, #reset-button:active{
    color: #000;
    background-color: rgb(255, 0, 0);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

}


#high-score{
    position: absolute;
    border-radius: 20px;
    border: 2px solid gold;
    top: -1rem;
    left: 0;
    background-color: rgba(94, 89, 89, 0.411);
    color: rgb(255, 213, 0);
    padding: 2vmin;
    font-weight: bolder;
    font-size:medium;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

#high-score:hover, #high-score:active{
    color: #000;
    background-color: rgb(255, 213, 0);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

#score{
    margin: 1rem auto;
    padding: 0.5rem 3rem;
    font-weight: bold;
    font-size: large;
    background-color: #46403593;
    color: #f9d11b;
    border-radius: 1rem;
}

#game-heading > img{
    display: inline-block;
    max-width: 150px;

}

#game-board{
    box-sizing: border-box;
    display: grid;
    background-color:  #8446088c;
    grid-template-columns: repeat(var(--grid-size),var(--cell-size));
    grid-template-rows: repeat(var(--grid-size),var(--cell-size));
    gap:var(--cell-gap);
    border-radius: 1vmin;
    padding: var(--cell-gap);
    font-size: 6.5vmin;
    position: relative;
}

.cell{
    background-color: #d1c8a87d;
    border-radius:1vmin;
}

.tile{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--cell-size);
    height: var(--cell-size);
    border-radius: 1vmin;
    top: calc(var(--y) * (var(--cell-size)  + var(--cell-gap)) + var(--cell-gap));
    left: calc(var(--x) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap) );
    font-weight: bold;
    background-color: hsl(var(--bg-hue), var(--bg-sat), var(--bg-light));
    color: var(--num-color);
    animation: show 300ms ease-in-out;
    transition: 100ms ease-in-out;
}

@keyframes show {
    0%{
        opacity: .5;
        transform:scale(0);
    }
    
}



